# intellij files
.idea/
*.iml
*.ipr
*.iws
*.log
build-idea/
out/

# eclipse files
.classpath
.project
.settings

# gradle stuff
.gradle/
build/
bin/

# vscode stuff
.vscode/

# osx stuff
.DS_Store

# git stuff
.gitattributes
