name: Backwards Compatibility Tests NeuralSearch
on:
  push:
    branches:
      - "*"
      - "feature/**"
  pull_request:
    branches:
      - "*"
      - "feature/**"

jobs:
  Get-CI-Image-Tag:
    uses: opensearch-project/opensearch-build/.github/workflows/get-ci-image-tag.yml@main
    with:
      product: opensearch

  Restart-Upgrade-BWCTests-NeuralSearch:
    needs: Get-CI-Image-Tag
    strategy:
      matrix:
        java: [ 21, 25 ]
        os: [ubuntu-latest]
        bwc_version : [ "2.9.0","2.10.0","2.11.0","2.12.0","2.13.0","2.14.0","2.15.0","2.16.0","2.17.0","2.18.0","2.19.0","3.0.0", "3.1.0", "3.2.0", "3.3.0","3.4.0" ]
        opensearch_version : [ "3.5.0-SNAPSHOT" ]

    name: NeuralSearch Restart-Upgrade BWC Tests
    runs-on: ${{ matrix.os }}
    container:
      # using the same image which is used by opensearch-build team to build the OpenSearch Distribution
      # this image tag is subject to change as more dependencies and updates will arrive over time
      image: ${{ needs.Get-CI-Image-Tag.outputs.ci-image-version-linux }}
      # need to switch to root so that github actions can install runner binary on container without permission issues.
      options: ${{ needs.Get-CI-Image-Tag.outputs.ci-image-start-options }}
    env:
      BWC_VERSION_RESTART_UPGRADE: ${{ matrix.bwc_version }}

    steps:
      - name: Run start commands
        run: ${{ needs.Get-CI-Image-Tag.outputs.ci-image-start-command }}

      - name: Checkout neural-search
        uses: actions/checkout@v4

      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - uses: ./.github/actions/clean-up-disk

      - name: Run NeuralSearch Restart-Upgrade BWC Tests from BWCVersion-${{ matrix.bwc_version }} to OpenSearch Version-${{ matrix.opensearch_version }} on ${{matrix.os}}
        run: |
          chown -R 1000:1000 `pwd`
          echo "Running restart-upgrade backwards compatibility tests ..."
          su `id -un 1000` -c "./gradlew :qa:restart-upgrade:testAgainstNewCluster -D'tests.bwc.version=${{ matrix.bwc_version }}'"

  Rolling-Upgrade-BWCTests-NeuralSearch:
    needs: Get-CI-Image-Tag
    strategy:
      matrix:
        java: [21, 25]
        os: [ubuntu-latest]
        bwc_version: [ "2.20.0-SNAPSHOT","3.0.0", "3.1.0", "3.2.0", "3.3.0","3.4.0" ]
        opensearch_version: [ "3.5.0-SNAPSHOT" ]

    name: NeuralSearch Rolling-Upgrade BWC Tests
    runs-on: ${{ matrix.os }}
    container:
      # using the same image which is used by opensearch-build team to build the OpenSearch Distribution
      # this image tag is subject to change as more dependencies and updates will arrive over time
      image: ${{ needs.Get-CI-Image-Tag.outputs.ci-image-version-linux }}
      # need to switch to root so that github actions can install runner binary on container without permission issues.
      options: ${{ needs.Get-CI-Image-Tag.outputs.ci-image-start-options }}
    env:
      BWC_VERSION_ROLLING_UPGRADE: ${{ matrix.bwc_version }}

    steps:
      - name: Run start commands
        run: ${{ needs.Get-CI-Image-Tag.outputs.ci-image-start-command }}

      - name: Checkout neural-search
        uses: actions/checkout@v4

      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - uses: ./.github/actions/clean-up-disk

      - name: Run NeuralSearch Rolling-Upgrade BWC Tests from BWCVersion-${{ matrix.bwc_version }} to OpenSearch Version-${{ matrix.opensearch_version }} on ${{matrix.os}}
        run: |
          chown -R 1000:1000 `pwd`
          echo "Running rolling-upgrade backwards compatibility tests ..."
          su `id -un 1000` -c "./gradlew :qa:rolling-upgrade:testRollingUpgrade -D'tests.bwc.version=${{ matrix.bwc_version }}'"
